<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>Formulario Web</title>
    <link rel="icon" type="image/png" href="https://www.acsilat.com/uploads/5/2/7/7/52779689/7452403.png?274" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstra$
      integrity=" sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povH$ crossorigin="anonymous" />
    <style>
        body {
            background-color: white;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            background-image: url('https://promocionmusical.es/wp-content/uploads/2017/11/xspotify-logo-nuevo.jpg.pagespeed.ic.hQTjbX5Inw.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>

<body>

    <!DOCTYPE html>
    <html html lang="es">

    <head>
        <meta charset="utf-8" />
        <title>Formulario</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    </head>

    <body>
        <header role="banner">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
                <a class="navbar-brand" href="/" rel="noopener noreferrer">Formulario
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="background-color: #000000" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reportes
          </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="solicitud-fecha" rel="noopener noreferrer">Reporte de producto más vendido</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="solicitud-producto" rel="noopener noreferrer">Reporte de mayor comprador</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="solicitud-formulario" rel="noopener noreferrer">Formulario Web</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/JairBedoya17/FormularioWeb" target="_blank" rel="noopener noreferrer">Repositorio</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
<style>
  body {
    background-image: url("https://websystemperu.com/web/121728f/tienda-virtual-estandar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  table {
    color: white;
  }
  th {
    background-color: #4caf4f8f;
    color: white;
  }
  td {
    background-color: #9c9c9c88;
  }
</style>
<body>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"
  ></script>
</body>

  </body>
</html>

</body>
</html>