<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vistas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body class="container" style="margin-top: 50px;">

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-pills w-100">
                <a href="solicitud-formulario" class="btn btn-default">Regresar</a>
                <li class="nav-pill active">

                    <a class="nav-link text-center">Informacion</a>
                </li>

            </ul>

        </div>
        <div class="card-body">
            <!DOCTYPE html>
            <html>

            <head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <style>
                    .alert {
                        padding: 20px;
                        background-color: #26bb19;
                        color: white;
                    }
                    
                    .closebtn {
                        margin-left: 15px;
                        color: white;
                        font-weight: bold;
                        float: right;
                        font-size: 22px;
                        line-height: 20px;
                        cursor: pointer;
                        transition: 0.3s;
                    }
                    
                    .closebtn:hover {
                        color: black;
                    }
                </style>
            </head>

            <body>

                <div class="alert alert-success" role="alert">
                    <strong>Excelente!</strong> Su pedido fue realizado con éxito.
                </div>

            </body>

            </html>
        </div>
    </div>

</body>

</html>